body {
     background-image: url("https://news.artnet.com/app/news-upload/2017/09/Vermeer-view-of-delft-1024x850.jpg");
	background-repeat: no-repeat;    	
	background-size: cover;
}

h1 {
    font-weight: 500;
    font-size: 3em;
}

ul{
    font-size: 1.5em;
    font-weight: 500;
}